.nav-active{
  color: white !important;
}

a{
  text-decoration: none;
}

.slide-in{
  animation: slideup forwards 2s;
}

@keyframes slideup{
  from { transform: translateY(50px);}
  to { transform: translateY(0);}
}

@keyframes slideup-sm{
  from { transform: translateY(30px);}
  to { transform: translateY(0);}
}

.slide-in-sm-fadein{
  opacity:0;
  animation: fadein forwards 0s, slideup-sm forwards 3s;
  animation-delay: 0.5s;
}

@keyframes fadein{
  from { opacity: 0;}
  to { opacity : 1}
}