.nav-active{
  color: white !important;
}

a{
  text-decoration: none;
}

.slide-in{
  animation: slideup forwards 3s;
}

@keyframes slideup{
  from { transform: translateY(50px);}
  to { transform: translateY(0);}
}